<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true" internalLogLevel="Warn">
  <extensions>
    <add assembly="EasyGelf.NLog"/>
  </extensions>
  <targets>
    <target name="GelfUdp" xsi:type="GelfUdp" facility="Easy Gelf Example Application" remoteAddress="127.0.0.1" remotePort="12201" layout="${message}" verbose="true">
      <parameter name="environment" layout="some value" />
    </target>
    <target name="GelfAmqp" xsi:type="GelfAmqp" facility="Easy Gelf Example Application" connectionUri="amqp://" layout="${message}" verbose="true"/>
    <target name="GelfSslTcp" xsi:type="GelfTcp" facility="Easy Gelf Example Application" remoteAddress="test.somehost.com" remotePort="12201" ssl="true" layout="${message}" verbose="true">
      <parameter name="thread" layout="${threadid}" />
    </target>
    <target name="console" xsi:type="Console" layout="${longdate}|${uppercase:${level}}|${threadid}|${logger}|${message}|${exception:format=Type,Message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="GelfUdp" />
    <logger name="*" minlevel="Info" writeTo="GelfAmqp" />
    <logger name="*" minlevel="Info" writeTo="GelfSslTcp" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>